# -----------------------------------------------------------------------------
# MkDocs
# -----------------------------------------------------------------------------

site
docs/CHANGELOG.md
docs/UPGRADING.md

# -----------------------------------------------------------------------------
# Other
# -----------------------------------------------------------------------------

test/project_template
.idea
.vscode
.venv
.hatch
__pycache__

*.whl
*.tar.gz